# Dart/Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.pub/

# Go
server/api
server/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# C++
engine/build/
engine/cmake-build-*/
CMakeFiles/
CMakeCache.txt
*.o
*.a
*.so

# IDE
.vscode/settings.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
